<div class = "container px-5 px-sm-0" >
    <div class = "row" >
        <div class = "col-md-3" >
            
            <h2>User info</h2>
            <%= image_tag user.get_profile_image %>
            <table class = "table" >
                <tbody>
                    <tr>
                        <th>name</th>
                        <th><%= user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%#= user. %></th>
                    </tr>
                    <tr>
                        <!--<th>-->
                        <!--    <%#= link_to edit_use_path(user.id) do %>-->
                        <!--    <p class="fas fa-user-cog"></p>-->
                        <!--</th>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
