<p id = "notice"></p>
<div class = "container" >
    <div class = "row" >
          
        <h1 class = "px-3 mx-auto">Welcame to
            <%= icon("fas", "book",  class: "book-icon") %>
            <storag>Bookers</storag>
            !
        </h1>
    </div>
</div>
