<p id = "notice">  </p>
<div class = "container" >
    <div class = "row" >
        <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" >
<h1>welcome to
<%= icon("fas", "book",  class: "book-icon") %>
<storag>Bookers</storag>
!!
</h1>

<p>in
<%= icon("fas", "book",  class: "book-icon") %>
<storag>Bookers</storag>
,
</p>

<p>youcan share and exchange your opinions , inpressions , and emotions</p>

<p>about various books!</p>

<li>
    <%= link_to "Log in", new_user_session_path %>
</li>
<li>
    <%= link_to "Sing up", new_user_registration_path %>
</li>
</div>
</div>
</div>