<h1>welcome to
<% %>
<storag>Bookers</storag>
!!
</h1>

<p>in
<% %>
<storag>Bookers</storag>
,
</p>

<p>youcan share and exchange your opinions , inpressions , and emotions</p>

<p>about various books!</p>

<li>
    <%= link_to "Log in", new_user_session_path %>
</li>
<li>
    <%= link_to "Sing up", new_user_registration_path %>
</li>